{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block page_description %}A daily blog from Capt. Crit McGillicutty{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>A Wild Jorney</h1>
      <p> Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
      <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
      <p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway.
      </p>
      <ul> 
        {% for entry in data.entries %}
          <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
          <p class="entry-date">{{ entry.date }}</p>
          <hr>
        {% endfor %}
     </ul>
    </div>
  </div>
</div>
{% endblock %}
